body{
background:rgba(207, 207, 207, 0.5);
font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
font-size: 22px;
color:black;
}

ul{
	position:relative;
	max-width: 1600px;
	height: auto;
	margin: 10px auto;
	padding: 0px 0px;
	/* padding-top: 46px; */
	list-style-type: none;
	list-style-position: inside;
	background: rgba(255, 255, 255, 0.5);

}
li{
	padding: 6px;
	margin: 0 auto;
	width: auto;
	 display: inline-block;
	vertical-align: top;
	background: rgba(255, 255, 255, 0.5);
	border: 1px solid gray;
}
h2 {
font-size: 15px;
}
li:hover{

	background: rgba(185, 185, 185, 0.5);
-webkit-transition: all 1s ease-out;
-moz-transition: all 1s ease-out;
-ms-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
transition: all 1s ease-out;
}
li>h1{width: 600px;}
li>table{
	width: 100%;
	/* margin: 0px 13px; */
	border: 0px;
	/* margin-bottom: 68px; */
}
#list_table{
	border-left: 2px solid rgb(180, 180, 180);
	border-right: 2px solid rgb(180, 180, 180);
	width: 39.84258%;
}
#form_load{
	/* border-left: 2px solid rgb(180, 180, 180); */
	/* border-right: 2px solid rgb(180, 180, 180); */
	max-width: 34%;
}
li h1{display:inline;}
li a{display:inline-block;}
a{
	text-decoration:none;
	color:rgb(92, 92, 92);
	/* padding:5px; */
}


h1{
	margin:5px;
	/* padding:5px; */
	color:gray;
	font-size: 1.45em;
}
td{
	margin: 5px;
	padding: 5px;
	color: rgb(92, 92, 92);
	background: rgba(255, 255, 255, 0.5);
	text-align: center;

}
td {
	border: none;

}
thead{ 
	border: 0px ;
	background:rgba(0, 93, 203, 0.5);
	color: rgb(219, 219, 219);
	text-align: center;
}
thead tr{ border: 0px ;}
thead tr th{ border: 0px ;padding:5px;}
form{
	margin: 0 auto;
	/* margin-top: -57px; */
	/* border-left: 1px solid rgb(180, 180, 180);
	border-right: 1px solid rgb(180, 180, 180); */
	padding-left:15px;
	padding-right:28px;
}
input{
	width: 100%;
	height: 34px;
	margin: 3px;
	padding-left: 5PX;
}
input[type="submit"]
{
	width: 100.5%;
	color: white;
	display: block;
	font-family: monospace;
	font-size: 100%;
	background:rgba(0, 93, 203, 0.5);
	height: 60px;
	border-radius: 0px;
}
input[type="submit"]:hover
{
	background: rgb(58, 152, 175);
	color: white;
}
textarea{
	width: 100%;
	min-height: 62px;
	resize: none;
	margin: 3px;
	padding-left: 5PX;
}
#encabezado a{
	margin: 7px;
	padding: -1px;
}
#encabezado{
	width: 100%;
	display: block;
	background: rgba(0, 93, 203, 0.5);
	top: 0px;
	left: 0%;
	margin: 0;
	padding: 0;
	min-height: 42px;
}
.titulo{/* display: table-caption; */padding-left: 15px;padding: 5px;margin: 5px;display: inline-block;width: 97.7%;}
.tituloDos{display: inline-block;padding-left: 15px;width: 8%;}
.botonModificar{
	background:url(../img/botonModificar.png) no-repeat;
	text-indent:-5000px;
	height: 47px;
	width: 54px;

}
.botonModificar:hover{
	-moz-transform: scale(1) rotate(2deg) translateX(5px) translateY(-5px) skewX(5deg) skewY(2deg);
	-webkit-transform: scale(1) rotate(2deg) translateX(5px) translateY(-5px) skewX(5deg) skewY(2deg);
	-o-transform: scale(1) rotate(2deg) translateX(5px) translateY(-5px) skewX(5deg) skewY(2deg);
	-ms-transform: scale(1) rotate(2deg) translateX(5px) translateY(-5px) skewX(5deg) skewY(2deg);
	transform: scale(1) rotate(2deg) translateX(5px) translateY(-5px) skewX(5deg) skewY(2deg);
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
.botonBorrar{
	background:url(../img/botonBorrar.png) no-repeat;
	text-indent:-5000px;
	height: 32px;
	width: 31px;
}
.botonBorrar:hover{
-moz-transform: scale(1) rotate(2deg) translateX(5px) translateY(-5px) skewX(5deg) skewY(2deg);
-webkit-transform: scale(1) rotate(2deg) translateX(5px) translateY(-5px) skewX(5deg) skewY(2deg);
-o-transform: scale(1) rotate(2deg) translateX(5px) translateY(-5px) skewX(5deg) skewY(2deg);
-ms-transform: scale(1) rotate(2deg) translateX(5px) translateY(-5px) skewX(5deg) skewY(2deg);
transform: scale(1) rotate(2deg) translateX(5px) translateY(-5px) skewX(5deg) skewY(2deg);
-webkit-transition: all 0.5s linear;
-moz-transition: all  0.5s linear;
-ms-transition: all  0.5s linear;
-o-transition: all  0.5s linear;
transition: all  0.5s linear;
}


td:hover{
	background:rgba(201, 201, 201, 0.5);
	-webkit-transition: all 0.5s linear;
-moz-transition: all  0.5s linear;
-ms-transition: all  0.5s linear;
-o-transition: all  0.5s linear;
transition: all  0.5s linear;
-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}
tr:hover{
	background:rgba(194, 194, 194, 0.5);
	-webkit-transition: all 0.5s linear;
-moz-transition: all  0.5s linear;
-ms-transition: all  0.5s linear;
-o-transition: all  0.5s linear;
transition: all  0.5s linear;
-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}
hr {
margin: 0;
}

.menuabm{
	display: block;
	padding: 10px;

}
.formModif{
	margin: 0 auto;
	margin-top: 0px;
	border-left: 1px solid rgb(180, 180, 180);
	border-right: 1px solid rgb(180, 180, 180);
	padding-left:15px;
	padding-right:28px;
}a:hover{
	color: black;
	text-decoration: underline;
} 
body {
font-family: verdana;
font-size: 14px;
}
p {
padding: 0px;
margin: 0px;
}
.form_modif{
	display:block;
}
/*login*/

#usuario{
	width: 85px;
	height: 100%;	
}
#error{
	font-size: 13px;
	position: fixed;
	top: 1px;
	left: 39%;
	}
#login{
	background: rgba(202, 202, 202, 1);
	max-width: 292px;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}
#login ul li div{
	display:inline-block;
}

#login{
	box-shadow: 3px 3px 4px #111;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
	margin: 64px auto;
	behavior: url(ie-css3.htc);
	-moz-box-shadow: 3px 3px 4px #111;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135,  Color='#111111')";
	padding:5px;
	-webkit-box-shadow: 3px 3px 4px #111;
}
.encabezadoLogin{
	background: rgba(115, 197, 241, 0.5);
	margin: -5px;
	border-radius: 10px 10px 0px 0px;
	padding: 5px 10px;
	height: 59px;
	border: 2px solid rgba(125, 125, 125, 0.09);
}
.encabezadoLogin ul{
	background: none;
	
}.encabezadoLogin ul li{
	background: none;
	border: none;
	
	/* margin: 0 auto; */
	font-size: 2em;
	font-weight: 700;
	position: absolute;
	left: 31%;
	/* right: 8%; */
	/* bottom: -1%; */
	/* top: -5%; */
}
.encabezadoLogin ul li p{
    /* margin: 0 auto; */
	
	
}
#formLogin input{
	height: 37px;

	border: none;
padding: 10px;
margin: 5px;
font-size: 12px;
color: #147B8B;
background: rgb(242, 242, 242);

	width: 109%;
}
#formRegistro{
	margin: 6px 32px;
	width: 184px;
}
#formLogin{
	margin: 5px 5px;
	width: 66%;
}
#contenidoLogin{
	margin: 10px auto;
	padding: 10px;
	font-size: 17px;
	text-align: center;
	width: 10%;
}
#formRegistro  input[type="submit"]{
	width: 204px;
	background: rgba(46, 110, 170, 0.63);
	padding: 0px;
	font-size: 17px;
	height: 32px;
	border-radius: 1px;
	color: white;
	background: rgba(46, 110, 170, 0.63);
	height: 59px;
	border-radius: 3px;
 }
 #formLogin  input[type="submit"]{
	width: 221px;
	background: rgba(46, 110, 170, 0.63);
	padding: 0px;
	font-size: 17px;
	height: 32px;
	border-radius: 1px;
	color: white;
	background: rgba(46, 110, 170, 0.63);
	height: 59px;
	border-radius: 3px;
 }
 input[type="submit"]{
	width: 34%;
	background: rgba(90, 113, 116, 0.3);
	padding: 0px;
	font-size: 17px;
 } 
 input[type="submit"]:hover{
	
	background:rgba(73, 95, 99, 0.3);
	color:rgb(133, 135, 136);
 } 
 #formRegistro input[type="submit"]:hover{
color: rgba(255, 255, 255, 0.63);
background: rgba(0, 166, 255, 0.5);
	
 } 
 #formLogin input[type="submit"]:hover{
	color: rgba(46, 110, 170, 0.63);
	background:rgba(115, 197, 241, 0.5);
	
 }
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
#contenidoLogin a{
	width: 67%;
display: block;
background: rgba(46, 110, 170, 0.63);
margin: 5px;
padding: 20px;
text-decoration: none;
color: white;
border-radius: 3px;
text-align: center;
}
#contenidoLogin a:hover{
	color: rgba(46, 110, 170, 0.63);
	background:rgba(115, 197, 241, 0.5);
}
#formRegistro  input{
	width: 100%;
height: 15px;
border: none;
padding: 10px;
font-size: 12px;
color: #147B8B;
background: rgb(242, 242, 242);
margin: 5px;
 }
 #cajaFormRegistro{
	margin:0px auto;
	display: block;
width: 278px;
 }

#contenidoLogin #botonRegistrarme{
	width: 89%;
display: block;
background: rgba(46, 110, 170, 0.63);
margin: 5px;
padding: 20px;
text-decoration: none;
color: white;
border-radius: 3px;
text-align: center;
}	
#contenidoLogin  #botonRegistrarme:hover{
	color: rgba(46, 110, 170, 0.63);
	background:rgba(115, 197, 241, 0.5);
}/*fin login*/
.add_usr input[type="submit"] {
width: 103%;
background: #79A7DE;
}
.add_usr input[type="submit"]:hover {
color: #79A7DE;
background: white;
}