<html ng-app="myApp">

<head>
    <title>Nori</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/../css/materialize.min.css" rel="stylesheet">
    <link href="/../css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//cdn.rawgit.com/angular-translate/bower-angular-translate/2.5.0/angular-translate.js"></script>
    <script src="/../js/app.js"></script>
    <script src="/../js/panelController.js"></script>
    <script src="/../js/modal-portfolio/modal-portfolio.js"></script>
    <script src="/../js/modal-gallery/modal-gallery.js"></script>
    <script src="/../js/all.js"></script>
</head>

<body ng-class="{'no-scroll':login}" ng-controller="myCtrl">
    <div id="wrapper">
        <div class="page-container">
            <div id="home" ng-class="{'gauss':login}" class="header">
                <div ng-class="{'open':menu}" class="button_menu">
                    <ul id="caja" ng-click="toggle()" ng-class="{'open':menu}" class="begin">
                        <li class="cajita">
                            <div class="link animation1"></div>
                        </li>
                        <li class="cajita">
                            <div class="link animation2"></div>
                        </li>
                        <li class="cajita">
                            <div class="link animation3"></div>
                        </li>
                    </ul>
                    <ul ng-class="{'open':menu,'begin':!menu}" class="menu-desplegable begin">
                        <!-- ngRepeat: item in anclas -->
                        <li ng-repeat="item in anclas" class="item-m-d ng-scope">
                            <a href="#home" ng-click="toggle()">
                                <p class="ng-binding"> home</p>
                                <p><small class="ng-binding">esta es una intro</small></p>
                                <div class="border-lie"></div>
                            </a>
                        </li>
                        <!-- end ngRepeat: item in anclas -->
                        <li ng-repeat="item in anclas" class="item-m-d ng-scope">
                            <a href="#design" ng-click="toggle()">
                                <p class="ng-binding"> design</p>
                                <p><small class="ng-binding">esta es una intro</small></p>
                                <div class="border-lie"></div>
                            </a>
                        </li>
                        <!-- end ngRepeat: item in anclas -->
                        <li ng-repeat="item in anclas" class="item-m-d ng-scope">
                            <a href="#about" ng-click="toggle()">
                                <p class="ng-binding"> about</p>
                                <p><small class="ng-binding">esta es una intro</small></p>
                                <div class="border-lie"></div>
                            </a>
                        </li>
                        <!-- end ngRepeat: item in anclas -->
                        <li ng-repeat="item in anclas" class="item-m-d ng-scope">
                            <a href="#photography" ng-click="toggle()">
                                <p class="ng-binding"> photography</p>
                                <p><small class="ng-binding">esta es una intro</small></p>
                                <div class="border-lie"></div>
                            </a>
                        </li>
                        <!-- end ngRepeat: item in anclas -->
                        <li ng-repeat="item in anclas" class="item-m-d ng-scope">
                            <a href="#contact" ng-click="toggle()">
                                <p class="ng-binding"> contact</p>
                                <p><small class="ng-binding">esta es una intro</small></p>
                                <div class="border-lie"></div>
                            </a>
                        </li>
                        <!-- end ngRepeat: item in anclas -->
                    </ul>
                </div>
                <div class="logo">
                    <!-- ngIf: srcLogo --><img ng-if="srcLogo" ng-src="./images/logo.png" alt="Norali - logotipo" src="./images/logo.png">
                    <!-- end ngIf: srcLogo -->
                </div>
                <ul class="list_lenguages">
                    <!-- ngRepeat: item in lenguajes -->
                    <li ng-repeat="item in lenguajes" ng-click="changeLanguage(item.value)" class="ng-binding ng-scope"> en</li>
                    <!-- end ngRepeat: item in lenguajes -->
                    <li ng-repeat="item in lenguajes" ng-click="changeLanguage(item.value)" class="ng-binding ng-scope"> sp</li>
                    <!-- end ngRepeat: item in lenguajes -->
                </ul>
            </div>
            <div ng-class="{'gauss':login}" class="slide">
                <div class="content_slide">
                    <p class="ng-binding">hi!</p>
                    <ul>
                        <li>
                            <p class="ng-binding">This is my personal web-page. For the only purpose of showing you a little bit of my world, and the things that I’m passionate about. By the way, I’m a 25 year-old designer, living in Buenos Aires, Argentina.</p>
                        </li>
                        <li>
                            <p class="ng-binding">Nice to have you here!</p>
                        </li>
                        <li>
                            <p class="ng-binding">Take a look around :)</p>
                        </li>
                    </ul>
                </div>
                <div class="button_down">
                    <button scroll-on-click=""><img src="images/mouse.png" alt="button-mouse_down"></button>
                </div>
            </div>
            <div id="design" class="portfolio">
                <div class="header_portfolio">
                    <h2 class="ng-binding">design</h2>
                    <!-- ngRepeat: item in habilidades -->
                    <div ng-repeat="item in habilidades" class="jobs ng-scope">
                        <!-- ngIf: $index%2==0 -->
                        <div ng-if="$index%2==0" class="job_box_image ng-scope">
                            <!-- ngIf: item.srcImgMini --><img ng-if="item.srcImgMini" ng-src="../images/j1.jpg" alt="" ng-click="openComponentModal(item)" src="../images/j1.jpg">
                            <!-- end ngIf: item.srcImgMini -->
                        </div>
                        <!-- end ngIf: $index%2==0 -->
                        <div class="job_box_content">
                            <h3 class="ng-binding">Branding</h3>
                            <p class="ng-binding">The integrity and crossorigin attributes are used for Subresource Integrity (SRI) checking. This allows browsers to ensure that resources hosted on third-party</p>
                            <button type="button" ng-click="openComponentModal(item.srcImgBig)">More</button>
                        </div>
                        <!-- ngIf: $index%2!==0 -->
                    </div>
                    <!-- end ngRepeat: item in habilidades -->
                    <div ng-repeat="item in habilidades" class="jobs ng-scope">
                        <!-- ngIf: $index%2==0 -->
                        <div class="job_box_content">
                            <h3 class="ng-binding">Branding</h3>
                            <p class="ng-binding">The integrity and crossorigin attributes are used for Subresource Integrity (SRI) checking. This allows browsers to ensure that resources hosted on third-party</p>
                            <button type="button" ng-click="openComponentModal(item.srcImgBig)">More</button>
                        </div>
                        <!-- ngIf: $index%2!==0 -->
                        <div ng-if="$index%2!==0" class="job_box_image ng-scope">
                            <!-- ngIf: item.srcImgMini --><img ng-if="item.srcImgMini" ng-src="../images/j1.jpg" alt="" ng-click="openComponentModal(item)" src="../images/j1.jpg">
                            <!-- end ngIf: item.srcImgMini -->
                        </div>
                        <!-- end ngIf: $index%2!==0 -->
                    </div>
                    <!-- end ngRepeat: item in habilidades -->
                    <div ng-repeat="item in habilidades" class="jobs ng-scope">
                        <!-- ngIf: $index%2==0 -->
                        <div ng-if="$index%2==0" class="job_box_image ng-scope">
                            <!-- ngIf: item.srcImgMini --><img ng-if="item.srcImgMini" ng-src="../images/j1.jpg" alt="" ng-click="openComponentModal(item)" src="../images/j1.jpg">
                            <!-- end ngIf: item.srcImgMini -->
                        </div>
                        <!-- end ngIf: $index%2==0 -->
                        <div class="job_box_content">
                            <h3 class="ng-binding">Branding</h3>
                            <p class="ng-binding">The integrity and crossorigin attributes are used for Subresource Integrity (SRI) checking. This allows browsers to ensure that resources hosted on third-party</p>
                            <button type="button" ng-click="openComponentModal(item.srcImgBig)">More</button>
                        </div>
                        <!-- ngIf: $index%2!==0 -->
                    </div>
                    <!-- end ngRepeat: item in habilidades -->
                </div>
            </div>
            <div class="photography">
                <div class="header_photography">
                    <h2 class="ng-binding">photography</h2>
                    <button ng-click="openGallery()"><img ng-src="../images/galeria_landing.jpg" src="../images/galeria_landing.jpg"><span class="flotante ng-binding">view gallery					</span></button>
                </div>
            </div>
            <div id="about" class="about">
                <div class="header_about">
                    <h2 class="ng-binding">about</h2>
                    <div class="columns">
                        <div class="column">
                            <!-- ngRepeat: item in about.columna_tipo1 -->
                            <div ng-repeat="item in about.columna_tipo1" class="box_xx ng-scope">
                                <h3 class="ng-binding">branding.</h3>
                                <div class="sub_box_y">
                                    <p class="ng-binding">This is my personal web-page. For the only purpose of showing you a little bit of my world, and the th</p>
                                </div>
                            </div>
                            <!-- end ngRepeat: item in about.columna_tipo1 -->
                            <div ng-repeat="item in about.columna_tipo1" class="box_xx ng-scope">
                                <h3 class="ng-binding">What i do.</h3>
                                <div class="sub_box_y">
                                    <p class="ng-binding">This is my personal web-page. For the only purpose of showing you a little bit of my world, and the th</p>
                                </div>
                            </div>
                            <!-- end ngRepeat: item in about.columna_tipo1 -->
                        </div>
                        <div class="column">
                            <div class="box_xx">
                                <h3 class="ng-binding">estudios.</h3>
                                <!-- ngRepeat: item in about.columna_tipo2.contenidos -->
                                <div ng-repeat="item in about.columna_tipo2.contenidos" class="sub_box_y ng-scope">
                                    <h4 class="ng-binding">2009-2013</h4>
                                    <p class="institute ng-binding">Universidad Naciona de la Plata</p>
                                    <p class="function ng-binding">Graphic Designer</p>
                                    <p class="location ng-binding"></p>
                                </div>
                                <!-- end ngRepeat: item in about.columna_tipo2.contenidos -->
                                <div ng-repeat="item in about.columna_tipo2.contenidos" class="sub_box_y ng-scope">
                                    <h4 class="ng-binding">2009-2013</h4>
                                    <p class="institute ng-binding">Universidad Naciona de la Plata</p>
                                    <p class="function ng-binding">Graphic Designer</p>
                                    <p class="location ng-binding"></p>
                                </div>
                                <!-- end ngRepeat: item in about.columna_tipo2.contenidos -->
                                <div ng-repeat="item in about.columna_tipo2.contenidos" class="sub_box_y ng-scope">
                                    <h4 class="ng-binding">2009-2013</h4>
                                    <p class="institute ng-binding">Universidad Naciona de la Plata</p>
                                    <p class="function ng-binding">Graphic Designer</p>
                                    <p class="location ng-binding"></p>
                                </div>
                                <!-- end ngRepeat: item in about.columna_tipo2.contenidos -->
                            </div>
                        </div>
                        <div class="column">
                            <div class="box_xx">
                                <h3 class="ng-binding">experience.</h3>
                                <div class="sub_box_y">
                                    <!-- ngRepeat: item in about.columna_tipo3.contenidos -->
                                    <div ng-repeat="item in about.columna_tipo3.contenidos">
                                        <h4 class="ng-binding">2009-2013</h4>
                                        <p class="ng-binding">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno.</p>
                                    </div>
                                    <!-- end ngRepeat: item in about.columna_tipo3.contenidos -->
                                    <div ng-repeat="item in about.columna_tipo3.contenidos">
                                        <h4 class="ng-binding">2009-2013</h4>
                                        <p class="ng-binding">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno.</p>
                                    </div>
                                    <!-- end ngRepeat: item in about.columna_tipo3.contenidos -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="contact" class="contact">
                <h2 class="ng-binding">contact</h2>
                <form method="post" action="/" class="ng-pristine ng-valid">
                    <div class="form_group">
                        <label><span>Name</span>
                            <input type="text" name="user" required="">
                        </label>
                    </div>
                    <div class="form_group">
                        <label><span>E-mail</span>
                            <input type="text" name="user" required="">
                        </label>
                    </div>
                    <div class="form_group">
                        <label><span>Message</span>
                            <textarea name="" cols="30" rows="10"></textarea>
                        </label>
                    </div>
                    <div class="form_group">
                        <input type="submit" name="submit" value="Send" class="btn">
                    </div>
                </form>
                <div class="datos">
                    <div class="email">
                        <p>E-mail</p>
                        <p> <a href="mailto:norali.emilio@gmail.com">norali.emilio@gmail.com</a></p>
                    </div>
                    <div class="linkedin">
                        <p>Linkedin</p>
                        <p> <a href="https://www.linkedin.com/in/noralí-emilio-146192a8">Norali Nayla Emilio</a></p>
                    </div>
                </div>
            </div>
            <div id="footer">
                <p>Norali Emilio - Designer &amp; photographer | 2017. Powered by <a href="#">CounterPic</a></p>
            </div>
        </div>
    </div>
    <div class="hiddendiv common"></div>
</body>

</html>